################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/_bin
/.vs
/fcollada_loader/FCollada_FREE_3.05B
/SceneGraph/flatbuf
/Direct3D9Driver/resources.aps
/media
/_models