################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseUI/obj
/bin
/bin
/.vs/TeapotViewer
/.vs/TeapotViewer
/TeapotViewer.VC.db
