################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseUI/obj
/bin
/bin
/.vs/TeapotViewer
/.vs/TeapotViewer
/TeapotViewer.VC.db
/fcollada_loader/FCollada_FREE_3.05B
/SceneGraph/flatbuf
/Direct3D9Driver/resources.aps
/media
